<p id="notice"><%= notice %></p>

<h1>Menu Of Tiago</h1>

<table>
  <thead>
    <tr>
      <th class="col-6"></th>
      <th>Price: </th>
      <th>Number:</th>
      <th>Name</th>
      <th>Contains</th>
      <th>Customize</th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <% prices = [] %>
        <% dishes = [] %>
        <% dishes = [] %>
        <% @dishes.each do |dish| %>
          <% if dish.course_id == course.id %>
          <% dishes << dish.name %>
          <% prices << dish.price %>
          <%end %>
        <%end %>
        <td class="col-6"><%= image_tag asset_url(course.image), class: "small" %></td>
        <td><%= prices.sum %></td>
        <td><%= course.id %></td>
        <td><%= course.name %></td>
        <td>
          <% @dishes.each do |dish| %>
            <% if dish.course_id == course.id %>
              <%= link_to dish.name, edit_dish_path(dish, course_id: course) %>
            <%end %>
        <%end %>
        </td>
        <td><%= link_to 'Add New Dish', new_dish_path(course_id: course) %>
      </tr>

    <% end %>
  </tbody>
</table>
